body, .container-fluid{
    margin: 0;  
    background-color: #fdfdd1de;
    font-family: "Noto Serif", 'Times New Roman', sans-serif;
}

.apply-color{
    color: #363636e1;
}

.text-white{
    color: white;
}

.size-fill{
    min-height: 90vh;
}

#others{
    min-height: Calc(100vh - 20px);
}

.tmfc_logo{
    width: 20vw;
    max-width: 150px;
}

.site-footer{
    background:#1d1d1d;
}

.site-footer a{
    text-decoration:none;
	font-weight:bold;
	color:rgba(255,255,255,0.7);
}

.site-footer a:hover {
	color:#fff;
}

/*Customize icons*/
.socialheader .fa:hover{
    color: rgb(26, 197, 240) !important;
    text-decoration: none;
}

.main-nav{
    background:#1d1d1df1;
}

.main-nav nav{
    margin-top: 10px;
}

.main-nav nav li{
    list-style-type: none;
    display: inline;
    padding: 0 3px 0 3px;
}

.main-nav nav a {
    white-space: nowrap;
	text-decoration:none;
	font-size:0.9em;
    letter-spacing:0.3px;
    padding-right: 30px;
    font-weight:400;
    font-size:larger;
	color:#ccc;
}
.main-nav nav .nav-current a {
    color: rgb(230, 230, 38);
    font-weight: bold;
}
.main-nav nav a:hover {
    color: rgb(230, 230, 38);
    font-weight: bold;
}

.bg-change{
    background-image: url('/static/img/second-intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.index-bg{
    background-image: url('/static/img/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header{
    height: 90vh;
    color: #FFFFFF !important;
}

.header-btn > a{
    position: absolute;
    top: 60vh;
    color: #ececec;
    font-size: 2rem;
    padding: 12px 20px 12px 20px;
    margin-right: 100px;
    font-style: italic;
    border-bottom: 6px solid;
    border-radius: 30px;
    background-color: #302f22;
}

.header-article{
    left: 10vw;
}
.header-more{
    left: 70vw;
}

.header-btn > a:hover{
    top: 58vh;
    color: rgb(194, 194, 44);
    font-size: 2.5rem;
    text-decoration: none;
}

.page-title{
    padding-top: 10vh;
    font-family: "Playfair Display";
    font-size:4rem;
    letter-spacing:-3px;
    word-spacing: -3px;
    text-transform: capitalize;
}

.post-full-header{
    padding: 50px;
}

.pagination{
    font-family: "Berkshire Swash", Cursive;
}

main{
    width: 90vw;
    max-width: 1200px;
    background-color: #ffffffe5;
}
main .col .cover-img{
    /* position: relative;
    margin-top: -100px; */
    z-index: 3;
    display: none;
}

main article{
    padding: 10px;
    margin: 1px;
}

.post-date, .post-meta{
    font-family: "Playfair Display", sans-serif;
}

.post-meta {
	display:block;
	margin:1.2rem 0 0 0;
	font-size: 0.9rem;
	font-style:italic;
	line-height:2.2rem;
	color:#9EABB3;
}

.scrolltocomments{
    color: white;
}

.scrolltocomments:hover{
    color:rgb(230, 230, 38);
}

.post-content h5{
    font-weight: bold;
}

.sub-title{
    font-size: 1.5rem;
    font-style: italic;
    text-indent: 100px;
}

.page-title {
	-webkit-animation:fade-in 0.6s;
	animation:fade-in 0.6s;
	-webkit-animation-delay:0.2s;
	animation-delay:0.2s;
}
.page-description {
	-webkit-animation:fade-in-down 0.9s;
	animation:fade-in-down 0.9s;
	-webkit-animation-delay:0.1s;
	animation-delay: 0.1s;
}

.read_next .post-content{
    color: #ececec;
}

.post-header, .heading{
    font-family: 'Playfair Display', Verdana, Geneva, Tahoma, sans-serif;
}

.post-header a, .heading{
    color: rgb(219, 44, 44);
    font-style: italic;
}

.post-header a:hover{
    text-decoration: none;
}

.author{
    font-weight: bold;
}

.author-thumb{
    border-radius: 50%;
    width: 30px;
}

.pagination .nested{
    width: 30%;
    display: inline-block;
    text-align: center;
}

.pagination .nested a{
    color:  #363636e1;
}

.pagination .nested span.text-muted{
    color:  #a09b9be1 !important;
}

.pagination .nested a:hover{
    color: #1d1c1ce1;
    font-weight: bold;
}

.read_next a{
    color: #ececec;
}
.read_next a:hover, .read-more:hover, .nested a:hover{
    text-decoration: none;
}

.read_next p{
    width: 100px;
    margin: 0 auto 0 auto;
    color: #ececec;
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #ececec;
}

.read_next .post-content{
    line-height: 1.8em;
}

.hovered_post{     /*Activated when post in read_next section is hovered*/
    background-color: #ececec;
    color: black !important;
}

.page-number{
    line-height: 60px;
}

.contact{
    max-width: 50vw;
    min-width: 300px;
}

.contact label{
    color: #ececec;
}

.contact input[type=email], .contact textarea{
    background-color:rgba(250, 252, 252, 0.986)
}

.general-img img{
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 700px){
    .menu-btn{
        background-color: rgb(230, 230, 84);
        border-color: rgb(230, 230, 38);
    }
    .tmfc_logo, .main_nav nav{
        padding: unset !important;
    }
    .socialheader{
        padding-top: 10px;
    }
    .socialheader .fa{
        color: rgb(26, 197, 240) !important;
    }
    .main-nav nav li a{
        position:relative;
        width: 100%;
        display:block;
        text-align: left;
        font-size: 1em;
        border-bottom: 2px solid rgb(230, 230, 38);  
    }
    .nav-current{
        font-size:1.1em;
    }
    .main-header{
        height: 65vh;
        margin-top: unset;
    }
    .post-full-header{
        text-align: left;
        padding-left: unset !important;
        padding-right: unset !important;
    }
    .post-meta{
        text-align: right;
    }
    .scrolltocomments{
        text-decoration: underline;
        color:rgb(230, 230, 38);
    }
    .page-title{
        text-align: center;
        font-size: 3rem;
        word-spacing: 5px;
        padding-top: 3vh;
    }
    .sub-title{
        text-indent: unset !important;
        text-align: center;
        font-size: 1.2rem;
    }
    .header-btn{
        width: 100%;
        margin-top: 20vh;
        margin-left: 25vw;
    }
    .header-btn > a{
        font-size: 1.5rem;
        position: relative;
        top: unset;
        left: unset;
        word-spacing: -3px;
        color: rgb(194, 194, 44);
    }
    .header-btn > a:hover{
        border-bottom-style: inset;
        
    }
    .contd-read, .read-more{
        color: rgb(194, 194, 44);
    }
    .contd-read{
        text-decoration: underline;
        font-style: italic;
        font-weight: 200;
    }
    .contact{
        width: 100%;
    }
    .delete-btn, .edit-btn{
        margin-right: unset !important;
    }
    .delete-btn{
        float: left !important;
    }

}