{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="row bg-change size-fill">
    <div class="col-12 col-lg-5 text-white">
        <div>
            <h1 class="page-title">Contact Us @ TMFC</h1>
            <h5>You can contact us, anytime, anywhere</h5>
        </div>
    </div>
    <div class="col-12 col-lg-7 pt-5">
        <div class="col">   
            {% if form %}
            <form class="mx-auto contact" method="POST">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                    {% for error in form.email.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    {{form.email.label_tag}}
                    {% render_field form.email class="form-control" %}
                </div>
                <div class="form-group">
                    {% for error in form.content.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    {{form.content.label_tag}}
                    {% render_field form.content class="form-control" %}
                </div>
                <input type="submit" class="btn btn-success btn-md px-5 float-right" value="Send">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}