{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="content mx-auto p-3 pt-5" role="main">
    <div class="row">
        <div class="col-12">
            <section>
                <div class="row my-3">
                    <div class="col">
                        <h2 class="post-title">Welcome, {{request.user.username|upper}}</h2>
                    </div>
                    <div class="col">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="btn btn-md btn-danger float-right mt-3 mr-2">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="col-12 d-none">
        <div class="row">
            <div class="col">
                <input type="search" placeholder="Type what comes to mind" class="float-right mr-2">
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="col-12">
        <div class="row">
            {% for message in messages %}
            <div class="col">
                <p class="alert alert-danger">{{message}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="col-12">
        <div class="row my-2">
            <div class="col-6">
                <h2>All Posts</h2>
            </div>
            <div class="col-6">
                <a href="{% url 'modify-post' action='new' %}" class="btn btn-md btn-outline-primary float-right mr-2">Add New Post</a>
            </div>
            <div class="col-12">
                {% for blog in page_obj %}
                <div class="row my-2 post-content">
                    <div class="col-12 mb-2">
                        <h5>{{blog.title|upper}}</h5>
                        <div class="text-justify mb-2 blog-content">
                            {{blog.content}}
                            <a href="{% url 'article' blog.title %}">view...</a>
                        </div>
                        <a href="{% url 'modify-post' action='modify' %}?title={{blog.title}}" class="btn btn-md btn-primary float-right px-3 mr-5 edit-btn">Edit</a>
                        <a href="{% url 'delete-post' %}?title={{blog.title}}" class="btn btn-md btn-danger float-right px-3 mr-5 delete-btn">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12">
        <nav class="pagination" role="navigation">
            <div class="nested"> 
                {% if page_obj.has_previous %}  
                    <a class="d-block newer-posts" href="?page={{page_obj.previous_page_number}}">Newer<span class="d-none d-sm-inline"> Posts</span></a>
                {% else %}
                    <span class="d-block text-muted newer-posts">Newer<span class="d-none d-sm-inline"> Posts</span></span>
                {% endif %}
                <span>&larr;</span>
                <a href="?page=1" class="d-block">First<span class="d-none d-sm-inline"> Page</span></a>
            </div>
            <div class="nested">
                <span class="page-number"><span class="d-none d-sm-inline">Page </span>{{page_obj.number}} of {{ page_obj.paginator.num_pages }}</span>
            </div>
            <div class="nested">
                {% if page_obj.has_next %}
                    <a class="d-block older-posts" href="?page={{page_obj.next_page_number}}">Older<span class="d-none d-sm-inline"> Posts</span></a>
                {% else %}
                    <span class="d-block text-muted older-posts">Older<span class="d-none d-sm-inline"> Posts</span></span>
                {% endif %}
                <span>&rarr;</span>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="d-block">Last<span class="d-none d-sm-inline"> Page</span></a>
            </div>
        </nav>
    </div>
</main>
{% endblock %}

{% block extra_scripts %}
{% endblock %}