{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col main-header">
        <header>
            <div class="main-header-content">
                <h1 class="page-title">TMFC</h1>
                <div class="entry-title-divider">
                    <span></span><span></span><span></span>
                </div>
                <h5 class="sub-title">Spreading the light of the gospel.</h5>
            </div>
        </header>
        <a class="d-none d-sm-block fa fa-angle-double-down fa-5x" href="#content" data-offset="-45"></a>
    </div>
</div>
<main id="content" class="content mx-auto p-3" role="main">
    <div class="row">
        {% for blog in page_obj %}
        <div class="col-10 col-sm-6 col-lg-4 p-3">
            <article class="post">
                <header class="post-header">
                <h2 class="post-title"><a href="{% url 'article' blog.title %}">{{blog.title}}</a></h2>
                </header>
                <section class="post-excerpt">
                <div>
                    {{blog.content}} 
                    <a class="read-more" href="{% url 'article' blog.title %}">&raquo;</a>
                </div>
                </section>
                <footer class="text-muted post-meta">
                <img class="author-thumb" src="{% static 'img/gravatar.jpg' %}" alt="David" nopin="nopin"/>
                <span>{{blog.author}}</span> &nbsp;| &nbsp;
                <time class="post-date" datetime="{{blog.date}}">{{blog.date}}</time>
                </footer>
            </article>
        </div>
        {% endfor %}
    </div>
    <div class="col-12">
        <nav class="pagination" role="navigation">
            <div class="nested"> 
                {% if page_obj.has_previous %}  
                    <a class="d-block newer-posts" href="?page={{page_obj.previous_page_number}}">Newer Posts</a>
                {% else %}
                    <span class="d-block text-muted newer-posts"> Newer Posts</span>
                {% endif %}
                <span>&larr;</span>
                <a href="?page=1" class="d-block">First Page </a>
            </div>
            <div class="nested">
                <span class="page-number">Page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}</span>
            </div>
            <div class="nested">
                {% if page_obj.has_next %}
                    <a class="d-block older-posts" href="?page={{page_obj.next_page_number}}">Older Posts</a>
                {% else %}
                    <span class="d-block text-muted older-posts">Older Posts</span>
                {% endif %}
                <span>&rarr;</span>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="d-block">Last Page</a>
            </div>
        </nav>
    </div>
</main>
{% endblock %}